
/web/bundles/
/web/uploads/media/*
/web/uploads/fixtures/mp3_test/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

tests/_output/*