body {background:#abacad url(../images/bodybg.png) repeat-x; font-family:Arial; font-size:12px; color:#000; margin:0px; padding:0px;}

a{ text-decoration:none; color:#fff;}

img { border:none;}

#top {  margin-top: -20px; }
    .top { width: 998px; margin: 0 auto; font-size: 11px; padding: 0px ; }
        .top a { text-decoration: none; float:right; margin:1px 0px 0px 5px; color: #666666; color:#fff; cursor:pointer; font-size:12px; }

#header { width: 998px; margin: 0 auto; z-index: 10; }
#header a.logo{ width:auto; margin:30px 0px 0px 0px; float:left; }


.main-menu {width:100%; float:left;}
.main-menu h1{width:25%; float:left; margin:10px 0px; color:#fff; font-weight:normal; font-size:24px; font-family:Adobe Garamond Pro;}
.main-menu h1 span{ font-size:29px;}

#main-nav 
{
  width:75%; float:right; background:url(../images/menubg.png) repeat-x;
  height: 46px;
  border-radius: 5px;
  position: relative;
  z-index: 4;
}

#main-nav > ul {
  margin: 0px; padding:0px;
}

#main-nav li {
  list-style: none;
  float: left;
  border-right: 1px solid #707173; 
  position: relative;
  z-index: 50;
}



#main-nav li a {
  text-decoration: none;
  color: #fff; font-size:13px;
  padding: 15px 15px 15px 45px;
  display: inline-block;
}

#main-nav li a:hover {
  color: #1a171b;
}

#main-nav li a.communaute { background:url(../images/communaute.png) scroll 13px 14px no-repeat;
  
}
#main-nav li a.communaute:hover { background:url(../images/communaute-hover.png) scroll 10px 14px no-repeat;
  
}
#main-nav li a.communaute.active { background:url(../images/communaute-hover.png) scroll 10px 14px no-repeat;
  
}

#main-nav li a.profil { background:url(../images/profil.png) scroll 10px 14px no-repeat;
  padding: 15px 12px 15px 30px;
  
}
#main-nav li a.profil:hover { background:url(../images/profil-hover.png) scroll 10px 14px no-repeat;
  
}
#main-nav li a.profil.active { background:url(../images/profil-hover.png) scroll 10px 14px no-repeat;
  
}

#main-nav li a.enseignements { background:url(../images/enseignements.png) scroll 10px 14px no-repeat;
  padding: 15px 12px 15px 35px;
  
}
#main-nav li a.enseignements:hover { background:url(../images/enseignements-hover.png) scroll 10px 14px no-repeat;
  
}
#main-nav li a.enseignements.active { background:url(../images/enseignements-hover.png) scroll 10px 14px no-repeat;
  
}

#main-nav li a.etude { background:url(../images/etude.png) scroll 12px 14px no-repeat;
  padding: 15px 12px 15px 32px;
  
}
#main-nav li a.etude:hover { background:url(../images/etude-hover.png) scroll 12px 14px no-repeat;
  
}
#main-nav li a.etude.active { background:url(../images/etude-hover.png) scroll 12px 14px no-repeat;
  
}

#main-nav li a.active {
  color: #1a171b;
}

#main-nav li.first 
{
    border-radius:5px 0px 0px 5px;
}

#main-nav li.current {
   color: #1a171b; background:url(../images/li-hover.png) repeat-x; 
}

#main-nav li:hover  {
   color: #1a171b; background:url(../images/li-hover.png) repeat-x; 
}

#main-nav li.first:hover  {
   color: #1a171b; background:url(../images/li-hover.png) repeat-x; border-radius:5px 0px 0px 5px;
}




#main-nav form{
  float: right; margin:6px 12px 7px 0px; width:340px;
}

#main-nav form input.search{
  background-color: #FFFFFF;
    border: medium none;
    border-radius:4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    color: #999999;
    display: inline-block; border:1px solid #cccccb;
    outline: medium none;
    padding: 7px 8px;
    width:94%;
}
#main-nav form .search-submit {background: url("../images/search.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    padding: 9px 0px;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 25px;}
  

#content {
  width: 998px;
  margin: 20px auto 0 auto;
} 

#content .content{
  width: 998px;
  margin: 10px auto 0 auto; float:left;
} 

#content .content .left-column{ border:solid 1px #707173;
  width: 68.7%; float:left; background:#fff; padding:30px 30px 0px 30px; margin:13px 0px 0px 0px;
}  


#content .content .left-column span.year{
  width:auto; float:right; background:#cccccb; margin:-30px 0px 0px 0px; padding:5px 5px 2px 5px; color:#fff; font-size:21px;
} 
#content .content .left-column h2{
  width:100%; float:left; margin:30px 0px 0px 0px; padding:0px; color:#1a171b; font-size:21px;
} 
#content .content .left-column span.sub-heading{
  width:100%; float:left; margin:5px 0px 15px 0px; padding-bottom:7px; color:#1a171b; font-size:16px; border-bottom:solid 1px #d9dadb;
} 
#content .content .left-column span.sub-heading img{
  float:left; margin:4px 5px 0px 0px;
}


#content .content .left-column .image-box{
  width:26%; float:left; min-height:100%;
}  
#content .content .left-column .image-box span.describe{
  color:#707173; float:left; padding:10px 50px 13px 35px; text-align:center;
}  
#content .content .left-column .image-box a.zoom{
  color:#fff; float:left; width:92px; height:22px; margin-left:35px; padding:8px 0px 0px 8px; text-align:left; background:url(../images/zoombt.png) no-repeat;
  border:solid 1px #cccccb; border-radius:5px; text-decoration:none; font-size:11px; 
}       
    
    
    
#content .content .left-column .detail-box{
  width:72%; float:right; margin-bottom:30px;
} 
    
#content .content .left-column .detail-box span.sub-heading{
  width:100%; float:left; margin:5px 0px 15px 0px; padding-bottom:10px; color:#1a171b; font-size:16px; border-bottom:solid 1px #d9dadb;
} 
#content .content .left-column .detail-box span.sub-heading img{
  float:left; margin:-5px 7px 0px 0px;
}

    
#content .content .left-column .detail-box .item{
  width:100%; float:left; margin:5px 0px 5px 0px;
}
    
#content .content .left-column .detail-box .item span.categorie{
  width:16%; float:left; color:#707173; padding:0px; text-align:left; font-size:13px;
}
    
#content .content .left-column .detail-box .item a.tittle{
  width:63%; float:left; color:#3d3c3f; padding:0px 15px 0px 0px; text-align:left; font-size:13px; text-decoration:none; 
}  
 
#content .content .left-column .detail-box .item .hoverclick{
  float:left; padding:5px; width:92.9%; margin:-5px 5px 5px -5px; border-radius:5px;
}    
 
#content .content .left-column .detail-box .item .hoverclick:hover{
  float:left; padding:5px; background:#edeaf3;
} 
#content .content .left-column .detail-box .item .hoverclick.active{
  float:left; padding:5px; background:#edeaf3;
}  

#content .content .left-column .detail-box .item a.tittle:hover{
  text-decoration:underline; 
}
    
#content .content .left-column .detail-box .item a.tittle span.uploaded-time{
  width:100%; float:left; color:#707173; padding:0px; text-align:left; font-size:13px;
}

    
#content .content .left-column .detail-box .item a.play{
  width:7%; float:left; margin:0px;
}
    
#content .content .left-column .detail-box .item span.time{
  width:10%; float:left; color:#707173; float:left; padding:3px 0px 0px 0px; text-align:left; font-size:13px;
}
    
#content .content .left-column .detail-box .item a.fav{
  float:left; margin:0px; background:url(../images/fav.png) no-repeat; width:5%; height:20px;
}    
#content .content .left-column .detail-box .item a.fav:hover{
  background:url(../images/fav-hover.png) no-repeat;
}    
#content .content .left-column .detail-box .item a.fav.active{
  background:url(../images/fav-hover.png) no-repeat;
}
   
   
   
   
   
   
   
   
   
   
#content .content .right-column{
  width: 24.2%; height:2065px; float:right; background:#f3f2ed; padding:10px 0px 0px 0px; margin:13px 0px 0px 0px; border:solid 1px #707173;
} 
   
   
   


#content .content .full-width{ border:solid 1px #707173;
  width: 93.8%; float:left; background:#fff; padding:30px 30px 0px 30px; margin:13px 0px 0px 0px;
}  


#content .content .full-width span.year{
  width:auto; float:right; background:#cccccb; margin:-30px 0px 0px 0px; padding:5px 5px 2px 5px; color:#fff; font-size:21px;
} 
#content .content .full-width h2{
  width:100%; float:left; margin:30px 0px 0px 0px; padding:0px; color:#1a171b; font-size:21px;
} 
#content .content .full-width span.sub-heading{
  width:100%; float:left; margin:5px 0px 15px 0px; padding-bottom:7px; color:#1a171b; font-size:16px; border-bottom:solid 1px #d9dadb;
} 
#content .content .full-width span.sub-heading img{
  float:left; margin:4px 5px 0px 0px;
}


#content .content .full-width .image-box{
  width:19.1%; float:left; min-height:100%;
}  
#content .content .full-width .image-box span.describe{
  color:#707173; float:left; padding:10px 45px 13px 35px; text-align:center;
}  
#content .content .full-width .image-box a.zoom{
  color:#fff; float:left; width:92px; height:22px; margin-left:35px; padding:8px 0px 0px 8px; text-align:left; background:url(../images/zoombt.png) no-repeat;
  border:solid 1px #cccccb; border-radius:5px; text-decoration:none; font-size:11px; 
}       


#content .content .full-width .image-box p.heading{
  width:100%; float:left; color:#707173; padding:0px; line-height:19px; text-align:left; font-size:13px; width:100%; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; font-weight:bold; border-bottom:solid 1px #707173;
}    
#content .content .full-width .image-box p{ line-height:19px;
  width:100%; float:left; color:#707173; padding:0px; text-align:left; font-size:13px; width:100%; padding:0px 0px 0px 0px; margin:0px 0px 10px 0px;
}   
#content .content .full-width .image-box p{ line-height:19px;
  width:100%; float:left; color:#707173; padding:0px; text-align:left; font-size:13px; width:100%; padding:0px 0px 0px 0px; margin:0px 0px 10px 0px;
}         
      
#content .content .full-width .image-box p a.link{
  float:left; color:#707173; padding:0px; text-align:left; font-size:12px; width:100%; margin:0px 0px 0px 0px; text-decoration:underline;
}      
#content .content .full-width .image-box p a.theme-button{
    background: none repeat scroll 0 0 #707173; float:left;
    border-radius: 5px 5px 5px 5px; padding:2px 5px; margin:3px 5px 0px 0px;
    color: #FFFFFF;
}

    
    
    
#content .content .full-width .detail-box{
  width:79.5%; float:right; margin-bottom:30px;
} 
    
#content .content .full-width .detail-box span.sub-heading{
  width:100%; float:left; margin:5px 0px 15px 0px; padding-bottom:10px; color:#1a171b; font-size:16px; border-bottom:solid 1px #d9dadb;
} 
#content .content .full-width .detail-box span.sub-heading img{
  float:left; margin:-5px 7px 0px 0px;
}

    
#content .content .full-width .detail-box .item{
  width:100%; float:left; margin:5px 0px 5px 0px;
}
    
#content .content .full-width .detail-box .item span.categorie{
  width:10.5%; float:left; color:#707173; padding:0px; text-align:left; font-size:13px;
}
    
#content .content .full-width .detail-box .item a.tittle{
  width:72%; float:left; color:#3d3c3f; padding:0px 15px 0px 0px; text-align:left; font-size:13px; text-decoration:none; 
}    
#content .content .full-width .detail-box .item a.tittle:hover{
  text-decoration:underline; 
}
    
#content .content .full-width .detail-box .item a.tittle span.uploaded-time{
  width:100%; float:left; color:#707173; padding:0px; text-align:left; font-size:13px;
}

    
#content .content .full-width .detail-box .item a.play{
  width:4.4%; float:left; margin:0px;
}
    
#content .content .full-width .detail-box .item span.time{
  width:8%; float:left; color:#707173; float:left; padding:3px 0px 0px 0px; text-align:left; font-size:13px;
}
    
#content .content .full-width .detail-box .item a.fav{
  float:left; margin:0px; background:url(../images/fav.png) no-repeat; width:22px; height:20px;
}    
#content .content .full-width .detail-box .item a.fav:hover{
  background:url(../images/fav-hover.png) no-repeat;
}    
#content .content .full-width .detail-box .item a.fav.active{
  background:url(../images/fav-hover.png) no-repeat;
}
   

  
   

#content .content .full-width2{ border:solid 1px #707173;
  width: 100%; float:left; background:#fff; padding:0px 0px 0px 0px; margin:13px 0px 0px 0px;
} 
   
#content .content .full-width2 .left-bar{
  width: 21%; float:left; background:#f3f2ed; min-height:960px; padding:35px 0px 0px 30px; margin:0px;
} 
      
#content .content .full-width2 .left-bar a.link{
  float:left; color:#1a171b; padding:0px; text-align:left; font-size:12px; width:100%; margin:0px 0px 10px 0px;
}
         
#content .content .full-width2 .left-bar a.link:hover{
  text-decoration:underline;
}
   
   
#content .content .full-width2 .right-bar{
  width: 69%; float:right; padding:35px 30px 0px 0px; margin:0px;
}    
#content .content .full-width2 .right-bar .box{
  width: 100%; float:left; padding:0px; margin:0px 0px 20px 0px;
}      
#content .content .full-width2 .right-bar .box span.right-tag{
  width:auto; right:0px; float:right; margin:0px 0px 0px -30px; padding:0px; color:#707173; font-size:31px;
}  
#content .content .full-width2 .right-bar .box img{
  float:left; width:175px; height:175px; background:#cccccb;
}    
#content .content .full-width2 .right-bar .box h2{
  width:70%; float:right; margin:0px 0px 20px 0px; padding:0px; color:#1a171b; font-size:21px;
} 
#content .content .full-width2 .right-bar .box p{
  width:70%; float:right; margin:0px 0px 10px 0px; padding:0px; color:#707173; font-size:13px; line-height:17px;
} 

#content .content .full-width2 .left-bar a.link{
  float:left; color:#1a171b; padding:0px; text-align:left; font-size:12px; width:100%; margin:0px 0px 10px 0px;
}         
#content .content .full-width2 .left-bar a.link:hover{
  text-decoration:underline;
}      
#content .content .full-width2 .left-bar p{
  float:left; color:#1a171b; padding:0px; text-align:left; font-size:12px; width:100%; margin:0px 0px 10px 0px;
}

   
   
   

#content .content .full-width2{ border:solid 1px #707173;
  width: 100%; float:left; background:#fff; padding:0px 0px 0px 0px; margin:13px 0px 0px 0px;
} 
   
#content .content .full-width2 .left-bar2{
  width: 16%; float:left; background:#f3f2ed; min-height:400px; padding:25px 35px 0px 45px; margin:0px;
}    
#content .content .full-width2 .left-bar2 p.heading{
  width:100%; float:left; color:#707173; padding:0px; line-height:19px; text-align:left; font-size:13px; width:100%; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; font-weight:bold; border-bottom:solid 1px #707173;
}    
#content .content .full-width2 .left-bar2 p{ line-height:19px;
  width:100%; float:left; color:#707173; padding:0px; text-align:left; font-size:13px; width:100%; padding:0px 0px 0px 0px; margin:0px 0px 10px 0px;
}   
#content .content .full-width2 .left-bar2 p{ line-height:19px;
  width:100%; float:left; color:#707173; padding:0px; text-align:left; font-size:13px; width:100%; padding:0px 0px 0px 0px; margin:0px 0px 10px 0px;
}         
      
#content .content .full-width2 .left-bar2 p a.link{
  float:left; color:#707173; padding:0px; text-align:left; font-size:12px; width:100%; margin:0px 0px 10px 0px; text-decoration:underline;
}      
#content .content .full-width2 .left-bar2 p a.theme-button{
    background: none repeat scroll 0 0 #707173; float:left;
    border-radius: 5px 5px 5px 5px; padding:2px 5px; margin:3px 5px 0px 0px;
    color: #FFFFFF;
}


   
   
#content .content .full-width2 .right-bar2{
  width: 70.2%; float:right; padding:25px 30px 0px 0px; margin:0px;
}    
#content .content .full-width2 .right-bar2 .box p{
  width:100%; float:right; margin:0px 0px 10px 0px; padding:0px; color:#707173; font-size:15px; line-height:19px;
} 


   

#content .content .full-width2 .favbox{ border-bottom:solid 1px #cccccb;
  padding: 20px 30px;
    width: 93.8%; float:left; background:#fff; margin:0px 0px 0px 0px;
} 

#content .content .full-width2 .favbox h2{
  width:78%; float:left; margin:0px 0px 0px 0px; padding:0px; color:#1a171b; font-size:23px;
} 

#content .content .full-width2 .favbox a {
    background: url("../images/favbg.png") no-repeat scroll -15px 0px transparent;
    
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    height: 22px;
    padding: 8px 0 0 9px; margin:10px 0px 0px 0px;
    text-align: left;
    text-decoration: none;
    width: 19%;
}

#content .content video 
{
 width:1000px; height:450px; background:#000; margin:25px 0px 25px 0px; cursor:pointer;
    
    }



#content .content .topbar{ border:solid 1px #707173;
  width: 98%; float:left; background:#fff; padding:10px 10px; margin:13px 0px 0px 0px;
} 

#content .content .topbar img.leftimg{
  float:left; margin:0px 10px 0px 0px;
} 

#content .content .topbar h2{
  width:38%; float:left; margin:14px 0px 0px 0px; padding:0px; color:#1a171b; font-size:19px;
} 

#content .content .topbar .rightside{
  width: 48%; float:right;  padding:5px; margin:0px;
}


#content .content .topbar .rightside .profile-name{
  width: 53%; float:left; margin:0px;
}


#content .content .topbar .rightside .num-list{
  width: 28.9%; float:right; margin:0px 30px 0px 0px;
}

#content .content .topbar .rightside .num-list a.left-arrow{
  margin:9px 0px 0px -30px; float:left; width:22px; height:20px; background:url(../images/left-arrow.png) no-repeat;
}
#content .content .topbar .rightside .num-list a.right-arrow{
  margin:9px -30px 0px 0px; float:right; width:22px; height:20px; background:url(../images/right-arrow.png) no-repeat;
}

#content .content .topbar .rightside .num-list a.left-arrow-actived {
    margin:9px 0px 0px -30px; float:left; width:22px; height:20px; background:url(../images/left-arrow-hover.png) no-repeat;
}
#content .content .topbar .rightside .num-list a.right-arrow-actived {
    margin:9px -30px 0px 0px; float:right; width:22px; height:20px; background:url(../images/right-arrow-hover.png) no-repeat;
}

#content .content .topbar .rightside .num-list ul.menu {width: 100%; margin:0px 0px 0px 0px; float:left; list-style-type:none; position:relative; padding:0px;}
#content .content .topbar .rightside .num-list ul.menu li {width: 100%; float:left; list-style-type:none; padding:0px;display: block;
    float: left;}
#content .content .topbar .rightside .num-list ul.menu li a{ width:121px; display: block;
    float: left;border:solid 1px #dbdcdd; padding: 9px 7px 8px 7px; background:#ffffff; color:#1a171b; font-size:14px;  
    border-radius:5px; cursor:pointer; background:url(../images/msdropdown/skin1/drop-arrow.png) scroll 96% 50% no-repeat;}

#content .content .topbar .rightside .num-list ul.menu li a:hover, #content .content .topbar .rightside .num-list ul.menu li a.actived{border-bottom:none; border-radius:5px 5px 0px 0px;
    color:#ffffff; background:#45267e url(../images/msdropdown/skin1/drop-arrow-hover.png) scroll 96% 50% no-repeat;}

#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu {
   float: left;
    left: 0;
    border-radius:5px 0px 5px 5px;
    margin: 0px 0 0 -372px;
    padding: 0;
    position: absolute;
    top: 35px; background:#45267e;
    z-index: 5;
}
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li{     background: none repeat scroll 0 0 #45267E;
    border: medium none !important;
    border-radius:5px 0px 5px 5px;
     width:480px; padding: 5px 12px 5px 12px; 
    float: left; color:#fff; background:#45267e; font-size:12px; cursor:pointer; line-height:16px;}
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li:hover{float: left; background:#361d66; border:none !important; }








#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li span.categorie{
  width:16%; float:left; color:#fff; padding:0px; text-align:left; font-size:13px;
}
    
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li a.tittle{
  width:58%; float:left; color:#fff; padding:0px 15px 0px 0px; text-align:left; font-size:13px; text-decoration:none; border:none; background-image:none;
 
}  
  

#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li a.tittle:hover{ background:#361d66;  border:none;
}
    
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li a.tittle span.uploaded-time{
  width:100%; float:left; color:#fbd19e; padding:0px; text-align:left; font-size:13px; border:none;
}

    
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li a.play{ background-image:none;
  width:20px; float:left; margin:0px 15px 0px 0px; border:none; padding:0px;
}    
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li a.play:hover{background:#361d66;
  width:20px; float:left; border:none;
}
    
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li span.time{
  width:10%; float:left; color:#fbd19e; float:left; margin:0px 10px 0px 0px; padding:3px 0px 0px 0px; text-align:left; font-size:13px; border:none;
}    
    
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li a.fav{
  float:left; margin:2px 0px 0px 0px; background:url(../images/fav2.png) no-repeat; width:5%; height:20px; border:none; padding:0px; width:15px;
}    
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li a.fav:hover{ background:#361d66;
  background:url(../images/fav2-hover.png) no-repeat; border:none;
}    
#content .content .topbar .rightside .num-list ul.menu li ul.sub-menu li a.fav.active{
  background:url(../images/fav2-hover.png) no-repeat; border:none;
}
.ui-active-accordion {
    background:url(/bundles/espacemembersmain/js/images/accordianbg2.png) no-repeat !important;
}
.ui-state-hover {
    background:url(/bundles/espacemembersmain/js/images/accordianbg2.png) no-repeat !important;
}   
.accordion-filter-list {
    background-color: #fff9e4 !important;
    /*background: red;*/
}
.fix-birthday { overflow: hidden; }

.fix-birthday select {
    float: left;
    margin-right: 15px;
}

.fix-role input { float: left }
.fix-role {
    overflow: hidden;
    padding-bottom: 10px;
}


/* Tablet Portrait size to standard 960 (devices and browsers) 
@media only screen and (min-width: 767px) and (max-width: 998px) {
    .top { width: 767px; margin: 0 auto; font-size: 11px; padding: 7px 0; }
    #header { width: 767px; margin: 0 auto; position: relative; z-index: 10; }
    #content{ width: 767px; margin: 0 auto; }
*/  
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) 
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .top { width: 479px; margin: 0 auto; font-size: 11px; padding: 7px 0; }
    #content{ width: 479px; margin: 0 auto; }
    #header { width: 479px; margin: 0 auto; position: relative; z-index: 10; }
    #main-nav { float:left; width:96%; padding: 2% 2% 1.5% 2%; }
    .ie7 #main-nav { float:left; width:96%; padding: 2% 2% 1.5% 2%; }
    .ie8 #main-nav { float:left; width:96%; padding: 2% 2% 1.5% 2%; }
        #main-nav li { width: 100%; }
            #main-nav a { padding:12px; }
                #main-nav a:after, #main-nav > ul { display: none; }
                #main-nav a:after { content: ''; }
*/
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 
@media only screen and (max-width: 479px) {
    .top { width: 320px; margin: 0 auto; font-size: 11px; padding: 7px 0; }
    #content{ width: 320px; margin: 0 auto; }
    #header { width: 320px; margin: 0 auto; position: relative; z-index: 10; }
    #main-nav { float:left; width:96%; padding: 2% 2% 1.5% 2%; }
    .ie7 #main-nav { float:left; width:96%; padding: 2% 2% 1.5% 2%; }
    .ie8 #main-nav { float:left; width:96%; padding: 2% 2% 1.5% 2%; }
        #main-nav li { width: 100%; }
            #main-nav a { padding:12px; }
                #main-nav a:after, #main-nav > ul { display: none; }
                #main-nav a:after { content: ''; }
*/
